@import url('https://fonts.googleapis.com/css2?family=Roboto@100&display=swap');

:root {
    --primary-color: #009DE0;
    --secondary-color: rgb(118,118,118);
    --white-color: #fff;
    --bg-dark: #0F0F0F;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-dark);
    color: var(--white-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.form-container .header {
    width: 100%;
    height: auto;
    background: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    background-position-x: center;
}

.header .header-content {
    width: 100%;
    max-width: 30rem;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header .header-content .logo {
    height: 1.25rem;
    margin: 1.5rem 0 0;
}

.header .header-content h1 {
    font-size: 2.6rem;
    margin: 2.5rem 0;
}

.form {
    width: 100%;
    max-width: 30rem;
    margin: 2rem auto;
    padding: 0 1rem;
}

.form .form-group {
    position: relative;
    height: 4rem;
    padding: 1rem;
    margin: 1rem 0;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    cursor: text;
    transition: .2s;
}

.form .form-group:hover {
    border-color: #EAEAEA;
}

.form-group input {
    position: absolute;
    top: 0;
    left: 1rem;
    right: 0;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: #EAEAEA;
    font-size: 1rem;
    font-weight: bold;
}

label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1.5);
}

.form-group input:not(:placeholder-shown) + label {
    top: 0;
    font-size: .9rem;
    color: #fff;
    background: var(--bg-dark);
    padding: .5rem;
}


.form .reset {
    display: inline-block;
    margin: .5rem 0;
    font-weight: bold;
}

.form .btn {
    display: block;
    cursor: pointer;
    padding: 1px 1rem;
    margin: 1rem 0 0;
    height: 2.8rem;
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.5rem;
    white-space: nowrap;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 0;
}


.form .btn:hover {
    color: var(--bg-dark);
}

.form .links-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.links-wrapper a {
    font-size: 1rem;
    font-weight: bold;
    margin-top: .5rem;
}

.form .copyright {
    margin-top: 4rem;
}

.copyright p {
    font-size: 1rem;
    margin: 1rem 0;
    color: #767676;
    line-height: 1.7;
}

.form .underline {
    border-bottom: 2px solid transparent;
    line-height: 2.2rem;
    transition: .2s;
}

.form .underline:hover {
    border-bottom: 2px solid var(--primary-color);
}


@media screen and (min-width: 480px) {
    .form-container .header {
        height: 255px;
    }

    .header .header-content {
        padding: 0;
    }

    .header .header-content h1 {
        margin: 2.5rem 0;
        font-size: 3.4rem;
    }
}


@media screen and (min-width: 960px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .form-container {
        padding: 0 4rem;
    }

    .form-container .header {
        background: none;
        height: auto;
    }

    .header .header-content {
        padding: 0;
        height: 52vh;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header .header-content h1 {
        margin: auto;
    }

    .form {
        margin-top: 0;
        padding: 0;
    }

    .showcase {
        background: url('1.jpg') no-repeat center center/cover;
    }
}